#trailerMake{
    border: solid 1px black;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px 200px 200px;
    text-align: center;
    
}

#industries{
    border: solid 1px black;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px 200px 200px 200px;
    text-align: center;
}